<section ng-controller="viewTracksController">
    <section id="tracks">
        <ul>
            <li ng-repeat="track in tracks">
                <td>
                    <img ng-src="{{track.thumb_url_large}}" />
                </td>
                <div class="posted">
                    <p class="sitename">posted on: {{track.sitename}}</p>
                    <p class="heart" id="heart"><i class="fa fa-heart-o" aria-hidden="true"></i> {{track.loved_count}}</p>
                </div>
                <!-- <div class="artist">
                <h4 class="artist"> {{ track.artist }}</h4>
                <h4 class="song"> {{ track.title }}</h4>
                </div> -->
                <h5 class="desc"> {{ track.description }}</h5>
            </li>
        </ul>
    </section>
</section>
